@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap');

body {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 20pt;
	font-weight: 800;
	background: #B5DCFC;
}


/* Background image */

img {
	position: fixed;
	max-width: 102vw;
	/* max-height: 100vh; */
	display: block;
	margin-left: -1vw;
	margin-top: -1vw;
	z-index: -1;
}

.days_container {
	margin: auto 8%;
	display: flex;
	grid-template-columns: repeat(6, 1fr);
	flex-wrap: wrap;
	text-align: center;
}

.day {
	/* display: grid; */
	grid-area: day;
	background: rgba(255, 255, 255, .4);
	border-radius: 2mm;
	flex-grow: 2;
	color: white;
	margin: 2mm;
	padding: 2mm;
}

.club {
	font-size: 14pt;
	font-weight: 700;
	border-radius: 2mm;
	padding: 1mm;
	margin: 0 1mm 2mm 1mm;
	background: #9DA7EF;
}

.club > .club {
	font-size: smaller;
}

.day_name {
	background: #FBB81F;
	border-radius: 2mm;
	margin-bottom: 2mm;
}

.saturday {
	flex-grow: 1;
}

.clubs_container_grid_2x2 {
	display: grid;
	grid-template-areas: "frs snd" "frs thd";
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
}

.clubs_container_grid_2x2>.club:nth-child(1) {
	grid-area: frs;
	/* background: #f98bfd; */
}

.clubs_container_grid_2x2>.club:nth-child(2) {
	grid-area: snd;
	/* background: #7be483; */
}

.clubs_container_grid_2x2>.club:nth-child(3) {
	grid-area: thd;
	/* background: #fd8b8b; */
}

.clubs_container_grid_1x1 {
	display: grid;
	grid-template-areas: "frs nul" "frs snd" "frs nu";
	grid-template-rows: 1fr 3fr 1fr;
	grid-template-columns: 1fr 1fr;
}

.clubs_container_grid_1x1>.club:nth-child(1) {
	grid-area: frs;
	/* background: #8bddfd; */
}

.clubs_container_grid_1x1>.club:nth-child(2) {
	grid-area: snd;
	/* background: #e4c37b; */
}

.age {
	font-size: 11pt;
}

.time {
	font-size: 10pt;
	color: #FFF3CF;
}

/* Group colours */

.col_prodlenka {background: #BDA9F4;}
.col_babylin1 {background: #FF9AD8;}
.col_babylin2 {background: #FFCA99;}
.col_bk1 {background: #F4A0A0;}
.col_bk2 {background: #97D194;}
.col_bk3 {background: #677BFF;}
.col_minors {background: #8B7DFF;}
.col_english {background: #87D1DB;}
.col_choreogr {background: #98D2F6;}